@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, #fff2f7, #f9f1f4, white);
    text-align: center;}

.header-content{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    padding: 0.6rem;
    background: white;
    background-color: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(5px);
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(90deg, #EA3323, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img{
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.logo:hover img {
    transform: scale(1.1);
}

.navlink {
    display: none;
    gap: 1rem;
}

@media screen and (min-width:760px) {
    .navlink{
        display: flex;
    }
    .header-content{
        justify-content: space-around;
    }
}

.navlink a{
    color: rgb(144, 146, 147);
    transition: transform 0.2s;
}

.navlink a:hover{
    color: #e52e71;
    transform: scale(1.05);

}
@media screen and (max-width:760px) {
   
  .navlink {
        display: none;
        flex-direction: row; 
        justify-content: center;
        gap: 2rem;
        width: 100%;
        position: absolute; 
        top: 2.8rem; 
        left: 0;
        background-color: rgb(247, 234, 241);
        padding: 1rem 0;
    }

    .navlink.active {
        display: flex;
    }
}


.menu-button{
    display: flex;
    border: none;
    background-color:white;
}
@media screen and (min-width:761px) {
    .menu-button{
        display: none;
    }
}

.menu-icon{
    width: 1.5rem;
    height: 1.5rem;
}


/* form section */
.container {
    background: linear-gradient(20deg, #ffffff, #f9c3d6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 6px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.324) ;
    background-color: #ffffff30;
    transition: transform 0.3s ease-in-out;
}

.container-header:hover {
    transform: scale(1.01);
}

h1 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.324) ;
    background-color: #ffffff30;

}
.predict-button {
    padding: 15px;
    background: linear-gradient(90deg, #EA3323, #e52e71);;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.predict-button:hover {
    background: linear-gradient(90deg, #cf3022, #780f36e8);
}
#result {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.high-risk {
    color: #dc3545;
}
.low-risk {
    color: #28a745;
}

/* footer */

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 1rem 0;
}

.logo-footer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.copywrite-section{
    display: flex;
    flex-direction: column;
    color: rgb(218, 216, 216);
}

.footer-desc-2{
    font-size: 0.8rem;
}

